@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
.promo {
  margin-left: 15%;
  margin-right: 15%;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 720px) {
  .promo .promo {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #363636;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-inner {
  padding: 1em;
}

.d-iten {
  height: 500px;
  justify-content: center;
}

.d-img {
  height: 100%;
  object-fit: fill;
  filter: brightness(0.6);
}

#carouselExampleIndicators {
  margin-left: 10%;
  margin-right: 10%;
}

header .navbar-left {
  display: flex;
  align-items: center;
  margin: 1%;
}
header .navbar-left .logo img {
  max-width: 30%;
  height: auto;
  z-index: 1;
  margin-left: 20%;
}
header .navbar-left .logo img:hover {
  transform: scale(1.2);
}
header .navbar-left .search-bar {
  display: flex;
  align-items: center;
}
header .navbar-left .search-bar input {
  padding: 8px;
  border-radius: 1em;
  border: 1px solid #ccc;
}
header .navbar-left .search-bar button {
  margin-left: 2px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
header .navbar-left .search-bar button:hover {
  color: #000;
  transform: scale(1.2);
  background-color: #fff;
}
header .navbar-right {
  margin-right: 2%;
}
header .navbar-right a {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 10px; /* Bordes más redondeados */
  transition: color 0.3s, background-color 0.3s; /* Efecto de transición de color */
  transition: all 0.3s;
}
header .navbar-right a:hover {
  color: #000;
  transform: scale(1.2);
  background-color: #fff;
}
@media (max-width: 720px) {
  header .logo img {
    width: 30%;
  }
  header .search-bar input {
    width: 70%;
  }
  header .search-bar button {
    margin-left: 1%;
    margin-right: 3%;
  }
  header .navbar {
    flex-direction: column;
  }
  header .navbar-left {
    margin-bottom: 10px;
    flex-direction: row;
  }
  header .navbar-right {
    margin-top: 10px;
  }
  header .navbar-right a {
    width: 100%;
    text-align: center;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lemon", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../imgenes/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}

.main-index .carousel .carousel-inner .d-iten .carousel-caption .btn-primary {
  background-color: #000000;
}
.main-index .carousel .carousel-inner .d-iten .carousel-caption .btn-primary:hover {
  background-color: #555;
}
.main-index .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 10%;
}
.main-index .grid-container .card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  max-width: 100%;
  background-color: #ccc;
}
.main-index .grid-container .card .card-img {
  width: 100%;
  height: 200px;
}
.main-index .grid-container .card .card-body {
  padding: 20px;
}
.main-index .grid-container .card .card-body .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.main-index .grid-container .card .card-body .card-text {
  color: #555;
}
.main-index .grid-container .card .card-body .btn-primary-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10%;
  margin-right: 10%;
}
.main-index .grid-container .card .card-body .btn-primary-2:hover {
  background-color: #0056b3;
}
@media (max-width: 720px) {
  .main-index .grid-container {
    grid-template-columns: 1fr;
    margin: 15%;
  }
}

.main-comprando .product-page {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-comprando .product-page .product-img {
  width: 40%;
  float: left;
}
.main-comprando .product-page .product-img img {
  width: 100%;
  height: auto;
  border-radius: 8px 0 0 8px;
}
.main-comprando .product-page .product-info {
  width: 60%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.main-comprando .product-page .product-info h2 {
  margin-top: 0;
}
.main-comprando .product-page .product-info p {
  margin-bottom: 10px;
}
.main-comprando .product-page .product-price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.main-comprando .product-page .buy-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.main-comprando .product-page .buy-button:hover {
  background-color: #45a049;
}
.main-comprando .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 10%;
}
.main-comprando .grid-container .card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  max-width: 100%;
  background-color: #ccc;
}
.main-comprando .grid-container .card .card-img {
  width: 100%;
  height: 200px;
}
.main-comprando .grid-container .card .card-body {
  padding: 20px;
}
.main-comprando .grid-container .card .card-body .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.main-comprando .grid-container .card .card-body .card-text {
  color: #555;
}
.main-comprando .grid-container .card .card-body .btn-primary-2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 30%;
}
.main-comprando .grid-container .card .card-body .btn-primary-2:hover {
  background-color: #0056b3;
}
@media (max-width: 720px) {
  .main-comprando .grid-container {
    grid-template-columns: 1fr;
    margin: 15%;
  }
}

.main-nosotros .card-us {
  border: 4px solid rgba(75, 75, 75, 0.568627451);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: rgba(163, 154, 154, 0.3568627451);
  margin: 8%;
}
.main-nosotros .card-us .card-us-img {
  width: 50%;
  float: left;
}
.main-nosotros .card-us .card-us-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}
.main-nosotros .card-us .card-us-description {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.main-nosotros .card-us .card-us-description h2 {
  background-color: rgba(51, 51, 50, 0.815);
  margin-top: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
}
.main-nosotros .card-us .card-us-description p {
  background-color: rgba(51, 51, 50, 0.815);
  margin-top: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
@media (max-width: 720px) {
  .main-nosotros .card-us .card-us-img {
    width: 100%;
  }
  .main-nosotros .card-us .card-us-img img {
    border-radius: 8px;
  }
  .main-nosotros .card-us .card-us-description {
    width: 100%;
  }
}

.main-gallery .gallery {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  margin: 20px;
}
.main-gallery .gallery .contenedor-img {
  border: 5px solid rgba(0, 0, 0, 0.212);
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.main-gallery .gallery .contenedor-img:hover {
  transform: scale(1.1);
}
.main-gallery .gallery .contenedor-img img {
  width: 100%;
  height: 100%;
}

.main-productos .carousel .carousel-inner .d-iten .carousel-caption .btn-primary {
  background-color: #000000;
}
.main-productos .carousel .carousel-inner .d-iten .carousel-caption .btn-primary:hover {
  background-color: #555;
}
.main-productos .filters-row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #696565;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.main-productos .filters-row .filter {
  margin-right: 20px;
}
.main-productos .card-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}
.main-productos .card-item-container .card-item {
  position: relative;
  width: 300px;
  height: 400px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
  margin-bottom: 2%;
}
.main-productos .card-item-container .card-item::after {
  content: "COMPRAR";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #626464;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}
.main-productos .card-item-container .card-item .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}
.main-productos .card-item-container .card-item .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
.main-productos .card-item-container .card-item:hover::after {
  bottom: 0;
  opacity: 1;
}
.main-productos .card-item-container .card-item:active {
  transform: scale(0.98);
}
.main-productos .card-item-container .card-item:active::after {
  content: "COMRPADO !";
  height: 3.125em;
  background-color: #ff3737;
}
.main-productos .card-item-container .text {
  max-width: 55px;
}
.main-productos .card-item-container .image {
  width: 100%;
  height: 70%;
  place-items: center;
}
.main-productos .card-item-container .image img {
  max-width: 100%;
  max-height: auto;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1px;
  width: 100%;
}
footer .container-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  box-sizing: border-box;
}
footer .container-1 .redes {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
footer .container-1 .redes a {
  display: inline-block;
  padding: 10px;
  margin-left: 30px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: color 0.3s, background-color 0.3s;
  transition: all 0.3s;
}
footer .container-1 .redes a:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.2);
}
footer .container-1 .contact-info {
  text-align: center;
  flex-grow: 1;
}
footer .container-1 .contact-info p {
  margin: 0;
}

@media (max-width: 720px) {
  .container-1 {
    flex-direction: column;
    align-items: center;
  }
  .contact-info,
  .map {
    width: 100%;
    text-align: center;
  }
  .redes a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 15%;
  }
  .card-us .card-us-img {
    width: 100%;
  }
  .card-us .card-us-img img {
    border-radius: 8px;
  }
  .card-us .card-us-description {
    width: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin: 15%;
  }
  .card-us .card-us-img {
    width: 100%;
  }
  .card-us .card-us-img img {
    border-radius: 8px;
  }
  .card-us .card-us-description {
    width: 100%;
  }
  .filters-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .filter {
    margin-right: 0;
    margin-bottom: 10px;
    flex-basis: 48%;
  }
  .card-item {
    width: calc(50% - 10px);
  }
  .card-item {
    width: 23%;
  }
  .card-item {
    width: 23%;
  }
  .card-us .card-us-img {
    width: 100%;
  }
  .card-us .card-us-img img {
    border-radius: 8px;
  }
  .card-us .card-us-description {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
