@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
.promo {
  margin-left: 15%;
  margin-right: 15%;
  padding: 8px 15px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-family: fantasy;
}
@media (max-width: 720px) {
  .promo .promo {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #363636;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-inner {
  padding: 1em;
}

.d-iten {
  height: 500px;
  justify-content: center;
}

.d-img {
  height: 100%;
  object-fit: fill;
  filter: brightness(0.6);
}

#carouselExampleIndicators {
  margin-left: 10%;
  margin-right: 10%;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

header .encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px black;
  border-left: none;
  border-right: none;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #527892 10%, rgba(23, 116, 255, 0.8431372549) 45%, #41f2ff 67%, rgba(253, 207, 101, 0.8431372549) 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
header #container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: rem;
}
header h1 {
  z-index: 2;
  font-family: "Poppins" sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
header #glow {
  position: absolute;
  display: flex;
  width: 12rem;
}
header #glow .circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}
header #glow .circle:nth-of-type(1) {
  background: rgba(0, 0, 186, 0.936);
}
header #glow .circle:nth-of-type(2) {
  background: rgba(0, 0, 186, 0.936);
}
header #stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}
header #stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}
header #stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}
@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}
@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
header .navbar-left {
  display: flex;
  align-items: center;
  margin: 1%;
}
header .navbar-left .logo img {
  max-width: 30%;
  height: auto;
  z-index: 1;
  margin-left: 50%;
}
header .navbar-left .logo img:hover {
  transform: scale(1.2);
}
header .navbar-left .search-bar {
  display: flex;
  align-items: center;
}
header .navbar-left .search-bar input {
  padding: 8px;
  border-radius: 1em;
  border: 1px solid #ccc;
  width: 100%;
}
header .navbar-left .search-bar button {
  margin-left: 2px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
header .navbar-left .search-bar button:hover {
  color: #000;
  transform: scale(1.2);
  background-color: #fff;
}
header .navbar-right {
  margin-right: 2%;
}
header .navbar-right a {
  display: inline-block;
  padding: 8px;
  margin: 8px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 10px; /* Bordes más redondeados */
  transition: color 0.3s, background-color 0.3s; /* Efecto de transición de color */
  transition: all 0.3s;
}
header .navbar-right a:hover {
  color: #000;
  transform: scale(1.2);
  background-color: #fff;
}
@media (max-width: 720px) {
  header .encabezado {
    height: 100%;
  }
  header h1 {
    text-align: center;
  }
  header .logo img {
    width: 30%;
  }
  header .search-bar input {
    width: 70%;
  }
  header .search-bar button {
    margin-left: 1%;
    margin-right: 3%;
  }
  header .navbar {
    flex-direction: column;
  }
  header .navbar-left {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 15%;
  }
  header .navbar-right {
    margin-top: 10px;
  }
  header .navbar-right a {
    width: 100%;
    text-align: center;
  }
}

body {
  font-family: "Lemon", serif;
  background: url("../imgenes/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}

.main-index .carousel .carousel-inner .d-iten .carousel-caption .btn-primary {
  background-color: #000000;
}
.main-index .carousel .carousel-inner .d-iten .carousel-caption .btn-primary:hover {
  background-color: #555;
}
.main-index .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
.main-index .grid-container .card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  max-width: 100%;
  background-color: #ccc;
  animation: slideIn 0.5s forwards ease;
}
.main-index .grid-container .card .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.main-index .grid-container .card .card-body {
  padding: 20px;
}
.main-index .grid-container .card .card-body .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.main-index .grid-container .card .card-body .card-text {
  color: #555;
}
.main-index .grid-container .card .card-body .btn-primary-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10%;
  margin-right: 10%;
}
.main-index .grid-container .card .card-body .btn-primary-2:hover {
  background-color: #0056b3;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 15% 15% 20rem;
  }
}
.main-comprando .product-page {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 0% 5% 5% 0%;
  animation: slideFromRight 1s ease;
}
.main-comprando .product-page .product-img {
  width: 40%;
  float: left;
}
.main-comprando .product-page .product-img img {
  width: 100%;
  height: auto;
  border-radius: 8px 0 0 8px;
  border: solid rgba(0, 0, 0, 0.404);
}
@media (max-width: 720px) {
  .main-comprando .product-page .product-img img {
    width: 100%;
    height: 350px;
    border-radius: 8px 8px 0 0;
  }
}
.main-comprando .product-page .product-info {
  width: 60%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.main-comprando .product-page .product-info h2 {
  margin-top: 0;
}
.main-comprando .product-page .product-info p {
  margin-bottom: 10px;
}
.main-comprando .product-page .product-price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.main-comprando .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
.main-comprando .grid-container .card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  max-width: 100%;
  background-color: #ccc;
  animation: slideIn 0.5s forwards ease;
}
.main-comprando .grid-container .card .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.main-comprando .grid-container .card .card-body {
  padding: 20px;
}
.main-comprando .grid-container .card .card-body .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.main-comprando .grid-container .card .card-body .card-text {
  color: #555;
}
.main-comprando .grid-container .card .card-body .btn-primary-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10%;
  margin-right: 10%;
}
.main-comprando .grid-container .card .card-body .btn-primary-2:hover {
  background-color: #0056b3;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 15% 15% 20rem;
  }
}
.main-nosotros .card-us {
  border: 4px solid rgba(75, 75, 75, 0.568627451);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: rgba(163, 154, 154, 0.3568627451);
  margin: 8%;
}
.main-nosotros .card-us .card-us-img {
  width: 50%;
  float: left;
}
.main-nosotros .card-us .card-us-img img {
  width: 80%;
  height: 10%;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}
.main-nosotros .card-us .card-us-description {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.main-nosotros .card-us .card-us-description h2 {
  background-color: rgba(51, 51, 50, 0.815);
  margin-top: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
}
.main-nosotros .card-us .card-us-description p {
  background-color: rgba(51, 51, 50, 0.815);
  margin-top: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
@media (max-width: 720px) {
  .main-nosotros .card-us .card-us-img {
    width: 100%;
    height: 100%;
  }
  .main-nosotros .card-us .card-us-img img {
    width: 100%;
    border-radius: 8px;
  }
  .main-nosotros .card-us .card-us-description {
    width: 100%;
  }
}

.main-gallery .gallery {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  margin: 20px;
}
.main-gallery .gallery .contenedor-img {
  border: 5px solid rgba(0, 0, 0, 0.212);
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.main-gallery .gallery .contenedor-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 720px) {
  .main-gallery .gallery .contenedor-img:focus-within {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 721px) {
  .main-gallery .gallery .contenedor-img:focus-within {
    width: 50%;
    height: auto;
  }
}

.main-productos {
  /* Estilos para la fila de filtros */
  /* Estilos para el contenedor de los elementos de tarjeta */
  /* Estilos para las tarjetas */
}
.main-productos .carousel .carousel-inner .d-iten .carousel-caption .btn-primary {
  background-color: #000000;
}
.main-productos .carousel .carousel-inner .d-iten .carousel-caption .btn-primary:hover {
  background-color: #555;
}
.main-productos .filters-row {
  display: flex; /* Contenedor de filtros con disposición en fila */
  justify-content: space-around; /* Alineación de elementos a lo largo del eje principal */
  padding: 10px; /* Relleno interno */
  background-color: #696565; /* Color de fondo */
  border: 5px solid black; /* Borde sólido */
  margin-bottom: 20px; /* Margen inferior */
  margin-left: 20px; /* Margen izquierdo */
  margin-right: 20px; /* Margen derecho */
  border-radius: 10px; /* Radio de borde */
  /* Estilos para los filtros */
}
.main-productos .filters-row .filter {
  margin-bottom: 20px; /* Espacio inferior para separarlo de otros elementos */
}
.main-productos .filters-row .filter label {
  font-weight: bold; /* Hace que el texto del label sea negrita */
  margin-right: 10px; /* Margen derecho */
}
.main-productos .filters-row .filter select {
  padding: 8px; /* Relleno interno */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 10px; /* Radio de borde */
  border: 2px solid rgba(0, 0, 0, 0.5019607843); /* Borde sólido con transparencia */
  background-color: #949391; /* Color de fondo */
  width: 150px; /* Ancho */
  margin-top: 20px; /* Margen superior */
  /* Estilos cuando el select está enfocado */
}
.main-productos .filters-row .filter select:focus {
  outline: none; /* Quita el contorno predeterminado */
  border-color: #6cb2eb; /* Cambia el color del borde */
  box-shadow: 0 0 5px #6cb2eb; /* Agrega una sombra al enfocar */
}
.main-productos .card-item-container {
  display: flex; /* Contenedor de elementos con disposición en fila */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas */
  gap: 10px; /* Espacio entre elementos */
  justify-content: space-around; /* Alineación de elementos a lo largo del eje principal */
  margin: 50px; /* Margen exterior */
}
.main-productos .card-item {
  position: relative; /* Posición relativa */
  width: 300px; /* Ancho de la tarjeta */
  height: 400px; /* Altura de la tarjeta */
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1); /* Sombra */
  cursor: pointer; /* Cursor al pasar por encima */
  transition: all 120ms; /* Transición suave de propiedades */
  display: flex; /* Elemento de tarjeta con disposición en columna */
  flex-direction: column; /* Elemento de tarjeta con disposición en columna */
  align-items: center; /* Alineación de elementos a lo largo del eje secundario */
  justify-content: center; /* Alineación de elementos a lo largo del eje principal */
  background: #fff; /* Color de fondo */
  padding: 0.5em; /* Relleno interno */
  padding-bottom: 3.4em; /* Relleno inferior */
  margin-bottom: 2%; /* Margen inferior */
  border-bottom: 5px solid rgba(0, 0, 0, 0.644); /* Borde negro solo en la parte inferior */
  border-right: 5px solid rgba(0, 0, 0, 0.644); /* Borde negro solo en el lado derecho */
  border-radius: 20px; /* Radio de borde */
  /* Estilos para el texto después de la tarjeta */
  /* Estilos para el título */
  /* Estilos para el precio */
  /* Estilos al pasar el cursor sobre la tarjeta */
  /* Estilos al hacer clic en la tarjeta */
  /* Estilos para el texto */
  /* Estilos para la imagen */
}
.main-productos .card-item::after {
  content: "ADD al Carro"; /* Contenido del texto */
  padding-top: 1.25em; /* Relleno superior */
  padding-left: 1.25em; /* Relleno izquierdo */
  position: absolute; /* Posición absoluta */
  left: 0; /* Posicionamiento a la izquierda */
  bottom: -60px; /* Posicionamiento desde la parte inferior */
  background: #626464; /* Color de fondo */
  color: #fff; /* Color del texto */
  height: 2.5em; /* Altura */
  width: 90%; /* Ancho */
  transition: all 80ms; /* Transición suave de propiedades */
  font-weight: 600; /* Grosor del texto */
  text-transform: uppercase; /* Transformación de texto en mayúsculas */
  opacity: 0; /* Opacidad inicial */
}
.main-productos .card-item .title {
  font-family: Arial, Helvetica, sans-serif; /* Fuente */
  font-size: 0.9em; /* Tamaño de fuente */
  position: absolute; /* Posición absoluta */
  left: 0.625em; /* Posicionamiento desde la izquierda */
  bottom: 1.875em; /* Posicionamiento desde la parte inferior */
  font-weight: 400; /* Grosor del texto */
  color: #000; /* Color del texto */
}
.main-productos .card-item .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; /* Fuente */
  font-size: 0.9em; /* Tamaño de fuente */
  position: absolute; /* Posición absoluta */
  left: 0.625em; /* Posicionamiento desde la izquierda */
  bottom: 0.625em; /* Posicionamiento desde la parte inferior */
  color: #000; /* Color del texto */
}
.main-productos .card-item:hover::after {
  bottom: 0; /* Posicionamiento desde la parte inferior */
  opacity: 1; /* Opacidad */
}
.main-productos .card-item:active {
  transform: scale(0.98); /* Escala de transformación */
}
.main-productos .card-item:active::after {
  content: "GRACIAS!"; /* Contenido del texto */
  height: 3.125em; /* Altura */
  background-color: #ff3737; /* Color de fondo */
}
.main-productos .card-item .text {
  max-width: 55px; /* Ancho máximo */
}
.main-productos .card-item .image {
  width: 100%; /* Ancho */
  height: 400px; /* Altura */
  overflow: hidden; /* Ocultar el desbordamiento */
}
.main-productos .card-item .image img {
  width: 100%; /* Ancho */
  height: 100%; /* Altura */
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1px;
  width: 100%;
}
footer .container-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  box-sizing: border-box;
}
footer .container-1 .redes {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
footer .container-1 .redes a {
  display: inline-block;
  padding: 10px;
  margin-left: 30px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
  transition: color 0.3s, background-color 0.3s;
  transition: all 0.3s;
}
footer .container-1 .redes a:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.2);
}
footer .container-1 .contact-info {
  text-align: center;
  flex-grow: 1;
}
footer .container-1 .contact-info p {
  margin: 0;
  margin-bottom: 150px;
}

@media (max-width: 720px) {
  .container-1 {
    flex-direction: column;
    align-items: center;
  }
  .contact-info,
  .map {
    width: 100%;
    text-align: center;
  }
  .redes a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 10px;
    margin-bottom: 20%;
  }
}
@media (max-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 15%;
  }
  .card-us .card-us-img {
    width: 100%;
  }
  .card-us .card-us-img img {
    border-radius: 8px;
  }
  .card-us .card-us-description {
    width: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin: 15%;
  }
  .card-us .card-us-img {
    width: 100%;
  }
  .card-us .card-us-img img {
    border-radius: 8px;
  }
  .card-us .card-us-description {
    width: 100%;
  }
  .filters-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .filter {
    margin-right: 0;
    margin-bottom: 10px;
    flex-basis: 48%;
  }
  .card-item {
    width: calc(50% - 10px);
  }
  .card-item {
    width: 23%;
  }
  .card-item {
    width: 23%;
  }
  .card-us .card-us-img {
    width: 100%;
  }
  .card-us .card-us-img img {
    border-radius: 8px;
  }
  .card-us .card-us-description {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
