.main-nosotros{
    .card-us { 
        border: 4px solid #4b4b4b91;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        background-color: #a39a9a5b;
        margin: 8%;
        .card-us-img {
            width: 50%;
            float: left;
            img {
                width: 100%;
                height: auto;
                border-radius: 8px 0 0 8px;
            }
        }
        .card-us-description {
            width: 50%;
            float: left;
            padding: 20px;
            box-sizing: border-box;
            h2 {
                margin-top: 0;
            }
        }
    }
    

}